
/* --- themes --- */

@import 'themes/monokai_pro.scss';

/* --- widgets --- */

@import 'widgets/workspaces/workspaces.scss';
@import 'widgets/clock/clock.scss';
@import 'widgets/calendar/calendar.scss';
@import 'widgets/music/music.scss';
@import 'widgets/audio/audio.scss';
@import 'widgets/power/power.scss';

/* --- general --- */

*{
	all: unset;
    font-family: "JetBrains Mono", monospace, sans-serif;
}

.bar {
    background-color: $dim_bg;
    color: $fg;
    margin: 1rem;
}

.bar > box {
    padding: 0 1rem;
}
