
* {
    border: none;
    border-radius: 10px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #e6e6e6;
}

tooltip {
    background: #000000;
    border-radius: 7px;
    border-width: 2.5px;
    border-style: solid;
    border-color: #8aadf4;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}


#workspaces button {
    color: #abb2bf;
    margin-right: 4px;
    padding-right: 8px;
    padding-left: 8px;
}

#workspaces button.active {
    color: #e6e6e6;
}

#workspaces button.focused {
    color: #e6e6e6;
    background: #21252b;
    border-radius: 6px;
}



#workspaces button.persistent {
    color: #f9e2af;
}


#workspaces button.empty {
    color: #313244;
}

#workspaces button.active,
#workspaces button.visible {
    color: #89b4fa;
    box-shadow: inset 0 -1px #1e1e2e;
}

#workspaces button.urgent {
    color: #f38ba8;
}
#custom-weather,
#language,
#cpu,
#window,
#clock,
#pulseaudio,
#pulseaudio.microphone,
#workspaces,
#memory,
#disk,
#network,
#keyboard-state,
#tray {
    background: #282c34;
    opacity: 1.0;
    padding: 1.5px 7px 1.5px 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 6px;
    margin-right: 5px;
    margin-left: 5px;
}

#workspaces {
    border-radius: 6px;
    margin-left: 5px;
    padding-right: 0px;
}

#clock {
    color: #a6e3a1;
    border-radius: 0px 13px 13px 0px;
    margin-right: 0px;
    margin-left: 0px;
}

#network {
    color: #f9e2af;
    border-radius: 13px 0px 0px 13px;
    margin-right: 0px;
}

#custom-notifications {
    color: #f9e2af;
    border-radius: 7px 7px 7px 7px;
    padding-left: 9px;
    padding-right: 15px;
    margin-left:  2px;
    margin-right: 2px;

}

#custom-updates {
    color: #89b4fa;
    border-radius: 7px 7px 7px 7px;
    border-left:  0px;
    border-right: 0px;
    margin-left:  2px;
    margin-right: 2px;
}

#custom-player {
 color: #cba6f7;
 border-radius: 7px 7px 7px 7px;
 padding-left: 4px;
 margin-left:  5px;
 margin-right: 5px;
}

#memory {
    color: #89b4fa;
    border-radius: 0px 0px 0px 0px;
    margin-left: 0px;
    margin-right:0px;
}

#disk {
    color: #f9e2af;
    border-radius: 0px 13px 13px 0px;
    margin-left: 0px;
}


#bluetooth {
  color: #89b4fa;
  border-radius: 0px 13px 13px 0px;
  margin-left: 5px;
  margin-right: 5px;
} 

#pulseaudio {
  color: #89b4fa;
  border-radius: 0px 0px 0px 0px;
  margin-right: 0px;
  margin-left: 0px;
}

#pulseaudio.microphone {
    color: #cba6f7;
    border-radius: 0px 0px 0px 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#cpu {
   border-radius: 13px 0px 0px 13px;
   padding-left:10px;
   margin-right:0px;
   margin-left: 0px;
}
#tray {
  padding: 0 8px;
}
