$dim_bg:    #1D1F23;
$bg:        #21252B;
$bright_bg: #282C34;

$dim_fg:    #9DA5B4;
$fg:        #ABB2BF;
$bright_fg: #E6E6E6;

$primary:   #56B6C2;
$secondary: #98C379;

$black: #7F848E;
$white: #E6E6E6;

$blue: #5680C2;
$cyan: #56B6C2;
$green: #98C379;
$yellow: #E6C07B;
$orange: #D19A66;
$red: #E06C75;
$magenta: #C678DD;

$base0: #1D1F23;
$base1: #21252B;
$base2: #282C34;
$base3: #2C313C;
$base4: #333A42;
$base5: #404859;
$base6: #495162;
$base7: #7F848E;
$base8: #9DA5B4;
$base9: #ABB2BF;
$base10: #E6E6E6;
