$bg:        #2D2A2E;
$fg:        #C1C0C0;
$dim_bg:    #221F22;
$dim_fg:    #939293;
$bright_bg: #727072;
$bright_fg: #FCFCFA;
$primary:   #FF6188;
$secondary: #FFD866;

$black:     #19181A;
$white:     #FCFCFA;

$red:       #FF6188;
$orange:    #FC9867;
$yellow:    #FFD866;
$green:     #A9DC76;
$cyan:      #91DCAF;
$blue:      #78DCE8;
$magenta:   #AB9DF2;

$base0:     #19181A;
$base1:     #221F22;
$base2:     #2D2A2E;
$base3:     #403E41;
$base4:     #5B595C;
$base5:     #727072;
$base6:     #939293;
$base7:     #C1C0C0;
$base8:     #FCFCFA;
