$dim_bg    : #1D1F23;
$bg        : #21252B;
$bright_bg : #282C34;
$dim_fg    : #969DAB;
$fg        : #ABB2BF;
$bright_fg : #E6E6E6;
$primary   : #62BAC6;
$secondary : #EAC786;
$black     : #6C7280;
$white     : #E6E6E6;

$magenta   : #C88BDA;
$red       : #E27881;
$orange    : #E79C7E;
$yellow    : #EAC786;
$green     : #98C379;
$cyan      : #62BAC6;
$blue      : #71B9F4;
$text      : #E6E6E6;
$subtext1  : #C9CCD3;
$subtext0  : #ABB2BF;
$overlay2  : #969DAB;
$overlay1  : #818896;
$overlay0  : #6C7280;
$surface2  : #5B626D;
$surface1  : #4A505A;
$surface0  : #393E47;
$base      : #282C34;
$mantle    : #21252B;
$crust     : #1D1F23;
