.workspaces {
    //padding: 0.25rem;
    background-color: $dim_bg;
    color: $base7;
}
.workspaces button {
    min-width: 1.5rem;
    padding: 0.25rem;

    &.focused {
        background-color: $primary;
        color: $bright_fg;
        font-weight: bold;
    }

    &:hover {
        background-color: $bg;
        color: $bright_fg;
    }
}

