.sys_sep {
    color: #38384d;
    font-size: 18;
    margin: 0px 10px 0px 10px;
}
.sys_text_bat_sub, .sys_text_mem_sub {
    font-size: 16;
    color: #bbc5d7;
    margin: 5px 0px 0px 25px;
}
.sys_text_bat, .sys_text_mem {
    font-size: 21;
    font-weight: bold;
    margin: 14px 0px 0px 25px;
}
.sys_icon_bat, .sys_icon_mem {
    font-size: 30;
    margin: 30px;
}
.sys_win {
    background-color: #0f0f17;
}
.sys_bat {
  color: #afbea2;
    background-color: #38384d;
  border-radius: 10px;
}
.sys_mem {
  color: #e4c9af;
    background-color: #38384d;
  border-radius: 10px;
}
.sys_icon_bat, .sys_text_bat {
    color: #afbea2;
}
.sys_icon_mem, .sys_text_mem {
    color: #e4c9af;
}
.sys_bat_box {
	border-radius: 16px;
    margin: 15px 10px 10px 20px;
  }
.sys_mem_box {
	border-radius: 16px;
    margin: 10px 10px 15px 20px;
  }

  .module_essid {
    font-size: 18;
    color: #a1bdce;
  margin: 0px 10px 0px 0px;
}
.module-wif {
    font-size: 22;
    color: #a1bdce;
    border-radius: 100%;
  margin: 0px 10px 0px 5px;
}

.iconmem {
    color: #e0b089;
}
.iconbat {
    color: #afbea2;
}
.iconbat, .iconmem {
    font-size: 15;
    margin: 10px;
}
.mem_module {
    background-color: #0f0f17;
	border-radius: 16px;
  margin: 0px 10px 0px 3px;
  }
.bat_module {
    background-color: #0f0f17;
	border-radius: 16px;
  margin: 0px 10px 0px 10px;
  }